body {
    background-color: black;
    color: crimson;
    font: x-large serif;
    margin: 10px 30px 5px 30px;
}

.contacts {
    color: orangered;
    font-family: cursive;
}

a {
    color: red;
}

a:visited {
    color: darkred;
}

#menu li {
    display: inline;
    padding-left: 3em;
}

#menu {
    padding-bottom: 15px;
    border-bottom: 3px solid red;
}

@font-face {
    font-family: oblivion;
    src: url('oblivion-font.ttf')
}

h1, h2, h3 {
    font-family: oblivion;
}

#header h1 {
    font-size: 75px;
    width: 60%;
    display: inline-block;
    margin-right: 3%;
}

#header img {
    width: 30%;
    display: inline-block;
    margin-left: 3%;
}


p {
    font-family: monospace;
    margin-left: 30px;
}

#GameShow {
    float: right;
    background-color: darkred;
    color: orangered;
    padding: 5px 1em 5px 1em;
}